<!-- Header -->
  <header id="header">
    <div class="content">
      <h1><a href="#">{{ site.title }}</a></h1>
      <p>인문학적 감성을 잃지 않는 동시에 개인화된 AI 서비스를 개발하고 싶은<br />
      자연어처리 개발자 지망생 이요한입니다.</p>
      <ul class="actions">
        <li><a href="https://github.com/l-yohai/" class="button special icon fa-download">Github</a></li>
        <li><a href="#one" class="button icon fa-chevron-down scrolly">Learn More</a></li>
      </ul>
    </div>
    <div class="image phone"><div class="inner"><img src="assets/images/yohlee.jpeg" alt="" /></div></div>
  </header>
